{% extends "base.html" %}
{% load i18n %}
{% block main %}
<table class="table table-striped">
  <thead>
    <tr>
	  <th>{% trans "Name" %}</th>
	  <th>{% trans "Number of attendees" %}</th>
	  <th>{% trans "E-mail" %}</th>
	</tr>
  </thead>
  <tbody>
    {% for attendee in event.attendees.all %}
    <tr>
	  <td>{{ attendee.name }}</td>
	  <td>{{ attendee.number_of_people }}</td>
	  <td>{{ attendee.email }}</td>
	</tr>
	{% endfor %}
  </tbody>
  <tfoot>
    <tr>
	  <td>{% trans "Total" %}</td>
	  <td>{{ event.total_attendees }}</td>
	  <td></td>
	</tr>
  </tfoot>
</table>
{% endblock %}
